$red:          #EB1E54;
$red-light:    #E83C6D;

$green:        #B3D143;
$green-light:  #CED954;

$purple:       #A9288D;
$purple-light: #BB4B95;

$blue:         #00AFEC;
$blue-light:   #00B1EB;

$yellow:       #FBB743;
$yellow-light: #F2C360;

$white:        #FFFFFF;
$black:        #2D2E2B;
$gray:         #575756;


$foundation-palette: (
  primary: $red,
  secondary: $blue,
  success: $green,
  warning: #ffae00,
  alert: #cc4b37,
);
