$font-family: 'Lato', Helvetica, Roboto, Arial, sans-serif;

$font-weight-normal: 400;
$font-weight-bold:   700;
$font-weight-bolder: 900;

$header-font-weight: $font-weight-bold;
$header-font-style: bold;
